<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hqu.weil">
    //地图包、搜索包需要的基础权限

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="0e83fd9b9f17f07d7e928792927dd766"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity_One"></activity>
        <activity
            android:name=".basic.BasicMapActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name=".basic.BaseMapFragmentActivity"
            android:label="@string/basic_map"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.CameraActivity"
            android:label="@string/camera_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.HeatMapActivity"
            android:label="@string/heatmap_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.EventsActivity"
            android:label="@string/events_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.LayersActivity"
            android:label="@string/layers_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.PoiClickActivity"
            android:label="@string/poiclick_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.MapOptionActivity"
            android:label="@string/mapOption_demo"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hqu.weil.basic.ScreenShotActivity"
            android:label="@string/screenshot_demo"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name=".opengl.OpenglActivity"-->
            <!--android:label="@string/opengl_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name="com.hqu.weil.basic.UiSettingsActivity"
            android:label="@string/uisettings_demo"
        android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.MarkerActivity"-->
            <!--android:label="@string/marker_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.PolylineActivity"-->
            <!--android:label="@string/polyline_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.ArcActivity"-->
            <!--android:label="@string/arc_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.GroundOverlayActivity"-->
            <!--android:label="@string/groundoverlay_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.PolygonActivity"-->
            <!--android:label="@string/polygon_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.CircleActivity"-->
            <!--android:label="@string/circle_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.overlay.NavigateArrowOverlayActivity"-->
            <!--android:label="@string/navigatearrow_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <activity
            android:name="com.hqu.weil.location.LocationModeSourceActivity"
            android:label="@string/locationmodesource_demo"
            android:screenOrientation="portrait" />
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.location.LocationNetworkActivity"-->
            <!--android:label="@string/locationNetwork_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.geocoder.GeocoderActivity"-->
            <!--android:label="@string/geocoder_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.route.RouteActivity"-->
            <!--android:label="@string/route_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.busline.BuslineActivity"-->
            <!--android:label="@string/busline_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.poisearch.PoiKeywordSearchActivity"-->
            <!--android:label="@string/poikeywordsearch_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.poisearch.PoiAroundSearchActivity"-->
            <!--android:label="@string/poiaroundsearch_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.offlinemap.OfflineMapActivity"-->
            <!--android:label="@string/offlinemap_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.district.DistrictActivity"-->
            <!--android:label="@string/district_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.district.DistrictWithBoundaryActivity"-->
            <!--android:label="@string/district_boundary_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".cloud.CloudActivity"-->
            <!--android:label="@string/cloud_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".cloud.CloudDetailActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".cloud.PreviewPhotoActivity"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".share.ShareActivity"-->
            <!--android:label="@string/share_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".weather.WeatherSearchActivity"-->
            <!--android:label="@string/weather_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name=".poisearch.SubPoiSearchActivity"-->
            <!--android:label="@string/subpoi_demo"-->
            <!--android:windowSoftInputMode="stateHidden|adjustResize"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.route.DriveRouteDetailActivity"-->
            <!--android:label="@string/route_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.route.WalkRouteDetailActivity"-->
            <!--android:label="@string/route_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.route.BusRouteDetailActivity"-->
            <!--android:label="@string/route_demo"-->
            <!--android:screenOrientation="portrait" />-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.indoor.IndoorMapActivity"-->
            <!--android:label="@string/indoormap_demo"-->
            <!--android:screenOrientation="portrait"/>-->
        <!--<activity-->
            <!--android:name="com.amap.map3d.demo.trace.TraceActivity"-->
            <!--android:label="@string/trace_demo"-->
            <!--android:screenOrientation="portrait"/>-->

        <!-- 定位需要的服务 使用2.0的定位需要加上这个 -->
        <service android:name="com.amap.api.location.APSService" >
        </service>
    </application>

</manifest>